# Dependencies
/node_modules
/client/node_modules
/server/node_modules
bun.lock
bun.lockb

# Vite
/client/dist
/client/.vite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

*.env

# IDE
.vscode
.kilocode