.overviewContainer {
    display: flex;
    background-color: var(--color-dark-bg-1);
    border-radius: var(--border-radius-md);
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    box-shadow: var(--box-shadow);
}

.leftPart {
    flex: 1;
    border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.rightPart {
    flex: 1.5;
}

@media (max-width: 992px) {
    .overviewContainer {
        flex-direction: column;
        height: auto;
    }

    .leftPart {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
}
