.headerContainer {
    box-shadow: var(--box-shadow);
    display: flex;
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-dark-bg-1);
    margin-top: 20px;

    @media (max-width: 768px) {
        display: none;
    }
}

.header {
    display: flex;
    align-items: stretch;
    max-width: 1390px;
    width: 100%;
}

.logoContainer {
    margin: 10px 40px 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

    @media (max-width: 650px) {
        display: none;
    }
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    align-self: stretch;
}

.logoImg {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.logoLink {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    border-top: 3px solid var(--color-red);
    z-index: 1100;
    width: 100%;
    background: var(--color-dark-bg-1);
    transition: transform 0.1s;
    will-change: transform;
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}
